USE [KUAS]
GO
/****** Object:  Table [dbo].[FoodMenu]    Script Date: 2015/6/26 上午 07:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenu](
	[Id] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[Ingredient] [nvarchar](1000) NULL,
	[Price] [nvarchar](50) NULL
) ON [PRIMARY]

GO
